#root, .App, .ant-Layout
  height:100%

.ant-tabs
    background #fff
.ant-tabs-bar
    background #e8e8e8
.ant-tabs-vertical.ant-tabs-left > .ant-tabs-content
  padding 0px

.ant-tabs-tabpane
  padding-left 10px
